<h1><a href="http://www.ieee-wcci2012.org/ieee-wcci2012/index.php?option=com_content&amp;view=frontpage&amp;Itemid=54">
  IEEE Congress on Evolutionary Computation 2012</a></h1>

<h1>Special Session on Applications of Evolutionary
 Computation in Biomedical Engineering</h1>

<p>
  Biomedical Engineering aims to apply engineering principles to biomedical
  systems. A biomedical system may be very broadly defined as any engineered
  device or apparatus that interacts with a biological entity to achieve a
  medical purpose. This is a fast-growing research area which is throwing up
  many complex problems as researchers grapple with the need to model complex
  systems and interpret massive biomedical datasets.
</p>

<p>
  In this session, we invite contributions from researchers who have applied
  techniques in evolutionary computation to real-world problems in biomedical engineering.
</p>
<h1>Techniques</h1>
<p>
  Techniques may come from the whole range of evolutionary computing,
  including (but not limited to):
</p>

<ul>
  <li>Genetic Algorithms</li>
  <li>Evolution Strategies</li>
  <li>Particle Swarm Optimisation</li>
  <li>Differential Evolution</li>
  <li>Ant Colony Optimisation</li>
  <li>Estimation of Distribution Algorithms</li>
  <li>Hybrids with other approaches</li>
</ul>

<h1>Application Areas</h1>
<p>
  Application areas include but are not limited to:
</p>

<ul>
  <li>Medical diagnostic systems</li>
  <li>Theranostics</li>
  <li>Medical imaging</li>
  <li>Advanced prosthetics</li>
  <li>Biosensors</li>
  <li>Telemedicine</li>
  <li>Treatment or medical equipment design and optimisation</li>
</ul>

<h1>Special Session Organisers</h1>
<p>
  <a href="mailto:j.mccall@rgu.ac.uk">John McCall</a><br>
  IDEAS Research Institute, Robert Gordon University, St. Andrew St.,
  Aberdeen AB25 1HG, Scotland. Phone: +44 (0)1224 262780; Fax: +44 (0)1224 262727.
  (<a href="http://www.comp.rgu.ac.uk/staff/jm">Web Page</a>)
</p>

<p>
  <a href="mailto:h.tang@surrey.ac.uk">Lilian Tang</a><br>
  Department of Computing,University of Surrey, Guildford GU2 7XH, UK.
  Phone: +44 (0)1483 686054; Fax: +44 (0)1483 686051. (<a
  href="http://www.surrey.ac.uk/computing/people/hongying_tang/">Web Page</a>)
</p>

<h1>Programme Committee</h1>
<ul>
  <li>David Cairns, University of Stirling, UK</li>
  <li>George Coghill, University of Aberdeen, UK</li>
  <li>Jose Lozano, University of the Basque Country, Spain</li>
  <li>John McCall, Robert Gordon University, UK</li>
  <li>Andrei Petrovski, Robert Gordon University, UK</li>
  <li>Gerald Shaefer, University of Loughborough, UK</li>
  <li>Stephen Smith, University of York, UK</li>
  <li>Lilian Tang, University of Surrey, UK</li>
  <li>Allan Tucker, Brunel University, UK</li>
  <li>Minaya Villasana, Universidad Simon Bolivar, Venezuela</li>
  <li>Kuen Ling, University of Lincoln, UK</li>
</ul>