<h1>Planned Future Activities</h1>
<p>
  The Task Force will achieve its aims through a range of activities including:
<ul>
  <li>
    biomedical engineering special sessions and tutorials at major computational
    intelligence conferences;
  </li>
  <li>
    multidisciplinary and industry-facing workshops focussed round specific
    applications where critical mass of research can be brought to bear;</li>
  <li>
    journal special issues; and
  </li>
  <li>
    coordinated effort on developing standards for the application of CI to
    important problems in biomedical engineering including benchmarking, data
    interchange formats, data management and ethics, experimental design and validity standards.
  </li>
</ul>


</p>
