<h1>Mission</h1>
<p>
  The mission of the Task Force on Biomedical Engineering Applications
  is to promote the research, development, education and understanding
  of the applications of computational intelligence to biomedical engineering.
</p>

<h1>Background and Motivation</h1>
<p>
  Biomedical Engineering (BE) aims to apply engineering principles to biomedical 
  systems. A biomedical system may be very broadly defined as any engineered 
  device or apparatus that interacts with a biological entity to achieve a medical 
  purpose. Examples of biomedical systems include medical diagnostic systems, 
  theranostics, medical imaging, advanced prosthetics, biosensors, telemedicine 
  and many more. This is a fast-growing research area which is throwing up many 
  complex problems as researchers grapple with the need to model complex systems 
  and interpret massive biological and medical datasets. Computational Intelligence 
  (CI) has proven highly successful in its application to more traditional 
  engineering disciplines. CI approaches contribute in a wide variety of ways 
  including design, mathematical, probabilistic and statistical modelling, control, 
  automation and optimisation, safety and reliability, system identification, 
  monitoring and fault detection. There is therefore strong motivation to bring 
  this experience to bear on the considerably more complex research challenges posed by BE.
</p>

<h1>Scope</h1>
<p>
  The scope of the task force will be to identify, support and encourage all
  areas where CI can have a major impact.  Currently applications of CI to BE
  are varied and disparate. They include data mining, probabilistic modelling,
  pattern recognition, classification, optimisation, and parameter estimation
  applied to a wide range of medical conditions. A central focus for the task
  force will be to discover common approaches and problems, clearly identify the
  strengths CI brings and create communities and standards focussed on major
  application areas with potential for real impact and improvement of BE. This
  will bring together existing researchers and also encourage other CI researchers
  into the area.
</p>

<h1>Chair: Professor John McCall</h1>
<p>
  John McCall obtained his PhD in Mathematics at the University of Aberdeen.
  His research for the past 18 years has focussed on the study and analysis of
  a range of naturally-inspired metaheuristics (EA, EDA, PSO, ACO, ANN etc..)
  and their application to learning and optimisation problems. Major themes of
  his research include medical treatment optimisation, particularly cancer-related,
  the development and analysis of novel metaheuristics, particularly Markov-network
  EDAs, and probabilistic modelling for optimisation and learning. Application
  areas of this research include medical decision support, oil and gas operations,
  analysis of biological sequences, scheduling, image analysis and bio-control.
  Prof. McCall is currently Digital Technologies Theme Leader at the IDEAS Research
  Institute of Robert Gordon University, Aberdeen.
</p>

<h1>Vice Chair: Dr Lilian Tang</h1>
<p>
  Lilian Tang received B.Eng. and M.Eng. degrees from Northeastern University,
  P.R. China, and a Ph.D. degree in Medical Informatics from the University of
  Cambridge, UK. She has 15 years of experience in applying machine vision to
  image and video analysis, with a particular focus on the medical domain.
  During this time she has worked with Addenbrookes Hospital, the Royal Surrey
  Hospital, the Royal Botanic Gardens, Kew and Moorfields Eye Hospital on a wide
  range of projects. She is currently a lecturer at the University of Surrey.
</p>
