<h1>External Links</h1>
<p>
  <%= link_to("Intelligent Systems Applications Technical Committee (ISATC)", "http://www.ieee-cis.org/technical/isatc/", {:target => "outside_link"}) %>
</p>

<p>
  <%= link_to("IEEE Computational Intelligence Society", "http://www.ieee-cis.org/", {:target => "outside_link"}) %>
</p>

<p>
  <%= link_to("International Medical Informatics Association", "http://www.imia-medinfo.org/new2/", {:target => "outside_link"}) %>
</p>


